{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link" title="Instagram">
        <span class="svg-wrapper">
          {{- 'icon-instagram.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link" title="Facebook">
        <span class="svg-wrapper">
          {{- 'icon-facebook.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" title="TikTok">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_google_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_google_link }}" class="link list-social__link" title="Google">
        <span class="svg-wrapper">
          {{- 'icon-google.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.google' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_google_business_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_google_business_link }}" class="link list-social__link" title="Google Business">
        <span class="svg-wrapper">
          {{- 'icon-google-business.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.google_business' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_whatsapp_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_whatsapp_link }}" class="link list-social__link" title="Whastapp">
        <span class="svg-wrapper">
          {{- 'icon-whatsapp.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.whatsapp' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_mail_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_mail_link }}" class="link list-social__link" title="Email">
        <span class="svg-wrapper">
          {{- 'icon-mail.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.mail' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
