{% paginate blog.articles by 6 %}
  <section class="blog-section">
    <div class="container">
      <div class="blog-header mb-4">
        <h1 class="text-center">{{ blog.title }}</h1>
        {% if blog.metafields.custom.description != blank %}
          <p class="text text-center">{{ blog.metafields.custom.description }}</p>
        {% endif %}
        <div class="tags">
          {% if blog.all_tags.size > 0 %}
            <ul class="list-unstyled d-flex flex-wrap gap-2 justify-content-center mt-4">
              <li>
                <a href="{{ blog.url }}" class="{% if current_tags == blank %}active{% endif %}"> Alles </a>
              </li>
              {% for tag in blog.all_tags %}
                <li>
                  <a
                    href="{{ blog.url }}/tagged/{{ tag | handleize }}"
                    class="{% if current_tags contains tag %}active{% endif %}"
                  >
                    {{ tag }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="row">
        {% for article in blog.articles %}
          <div class="col-md-6">
            <div class="cardborder-0">
              {% if article.image %}
                <div class="card-content">
                  <a class="image-link" href="{{ article.url }}">
                    <img
                      src="{{ article.image | image_url }}"
                      alt="{{ article.image.alt | escape }}"
                      class="img-fluid" width="{{ article.image.width }}" height="{{ article.image.height }}">
                  </a>
                  <div class="card-body p-0">
                    <h5 class="card-title">
                      <a href="{{ article.url }}" class="text-dark text-decoration-none">
                        {{ article.title }}
                      </a>
                    </h5>
                    <p class="card-text">
                      {% if article.excerpt != blank %}
                        {{ article.excerpt | strip_html | truncate: 70 }}
                      {% else %}
                        {{ article.content | strip_html | truncate: 70 }}
                      {% endif %}
                    </p>
                    {% assign word_count = article.content | strip_html | split: ' ' | size %}
                    {% assign reading_time = word_count | divided_by: 200 | ceil %}
                    <p class="text-time">{{ reading_time }} min leestijd</p>
                    <a href="{{ article.url }}" class="btn btn-link">
                      Lees meer
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M10.414 18.2538L16.121 12.5468L10.414 6.83984L9 8.25384L13.293 12.5468L9 16.8398L10.414 18.2538Z" fill="#1468A7"/>
                      </svg>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <nav class="pagination-nav d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item {% unless paginate.previous %}disabled{% endunless %}">
              {% if paginate.previous %}
                <a href="{{ paginate.previous.url }}" class="page-link svg left">
              {% else %}
                <span class="page-link svg left">
              {% endif %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M13.586 18.0141L7.879 12.3071L13.586 6.6001L15 8.0141L10.707 12.3071L15 16.6001L13.586 18.0141Z" fill="#1468A7"/>
              </svg>
              vorige pagina
              {% if paginate.previous %}
                </a>
              {% else %}
                </span>
              {% endif %}
            </li>

            {% for part in paginate.parts %}
              {% if part.is_link %}
                <li class="page-item">
                  <a href="{{ part.url }}" class="page-link">{{ part.title }}</a>
                </li>
              {% else %}
                <li class="page-item {% if part.title == paginate.current_page %}active{% endif %}">
                  <span class="page-link">{{ part.title }}</span>
                </li>
              {% endif %}
            {% endfor %}

            <li class="page-item {% unless paginate.next %}disabled{% endunless %}">
              {% if paginate.next %}
                <a href="{{ paginate.next.url }}" class="page-link svg right">
              {% else %}
                <span class="page-link svg right">
              {% endif %}
              volgende pagina
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M10.414 18.0141L16.121 12.3071L10.414 6.6001L9 8.0141L13.293 12.3071L9 16.6001L10.414 18.0141Z" fill="#1468A7"/>
              </svg>
              {% if paginate.next %}
                </a>
              {% else %}
                </span>
              {% endif %}
            </li>
          </ul>
        </nav>
      {% endif %}
    </div>
  </section>
{% endpaginate %}

{% schema %}
{
  "name": "Blog Posts mutiple",
  "settings": [],
  "presets": [
    {
      "name": "Blog Posts mutiple"
    }
  ]
}
{% endschema %}
