<section class="bottom-green-section still-question discover">
  <div class="container position-relative">
    <div class="d-none d-md-flex justify-content-center flex-wrap box-instagram">
      {% for block in section.blocks limit: 1 %}
        {% if block.settings.photo != blank %}
          <figure>
            <img
              src="{{ block.settings.photo | image_url }}"
              alt="Photo"
              class="img-fluid" width="{{ block.settings.photo.width }}" height="{{ block.settings.photo.height }}">
          </figure>
        {% endif %}
      {% endfor %}
    </div>

    <div class="box-green">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}

      {% if section.settings.subtitle != blank %}
        <p class="text">{{ section.settings.subtitle }}</p>
      {% endif %}

      {% if section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn btn-primary">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Discover",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Ontdek Onze Champagne Verhalen"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Laat je inspireren door boeiende verhalen, tips en trends uit de wereld van champagne."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Bekijk Alles"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "photo",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 1,
  "presets": [
    {
      "name": "Discover"
    }
  ]
}
{% endschema %}
